{% extends 'base.html.twig' %}
{% form_theme registrationForm _self %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block form_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    {{- form_label(form) -}}
    {{- form_errors(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}
{% endblock %}


{% block body %}
    <div class="container">
{#        <form method="post" class="form-signin">#}
{#            #}{# replave with symfony form here #}
{#            <h1 class="h3 mb-3 font-weight-normal">Register</h1>#}
{#            <label for="inputEmail" class="sr-only">Email</label>#}
{#            <input placeholder="Email" type="email" name="email" id="inputEmail" class="form-control" required autofocus>#}
{#            <label for="inputPassword" class="sr-only">Password</label>#}
{#            <input placeholder="Password" type="password" name="password" id="inputPassword" class="form-control" required>#}
{#            <div class="checkbox mb-3">#}
{#                <label>#}
{#                    <input type="checkbox" name="_terms"> I agree to the Terms#}
{#                </label>#}
{#            </div>#}
{#            #}{# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#            See https://symfony.com/doc/current/security/remember_me.html#}

{#            <button class="btn btn-lg btn-primary btn-block" type="submit">#}
{#                Sign up#}
{#            </button>#}
{#        </form>#}

        {{ form_start(registrationForm, {
            attr: {class: 'form-signin'}
        }) }}
            <h1 class="h3 mb-3 font-weight-normal">Register</h1>

            {{ form_widget(registrationForm) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign up
            </button>
        {{ form_end(registrationForm) }}


    </div>

{% endblock %}
