
<nav class="navbar navbar-expand-lg navbar-dark navbar-bg {{ app.session.flashBag.peek('success')|length > 0 ? '': 'mb-5' }}">
    <a style="margin-left: 75px;" class="navbar-brand space-brand" href="{{ path('app_homepage') }}">The Space Bar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a style="color: #fff;" class="nav-link" href="#">Local Asteroids</a>
            </li>
            <li class="nav-item">
                <a style="color: #fff;" class="nav-link" href="#">Weather</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item dropdown" style="margin-right: 75px;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="nav-profile-img rounded-circle" src="{{ app.user.avatarUrl(100) }}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('app_account') }}">Profile</a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item" href="{{ path('admin_article_new') }}">Create Post</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a style="color: #fff;" class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a style="color: #fff;" class="nav-link" href="{{ path('app_register') }}">Sign Up</a>
                </li>
            {% endif %}


        </ul>
    </div>
</nav>

